<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- additional meta -->
  <meta name="theme-color" content="#232323" />

  <!-- title -->
  <title>พยากรณ์อากาศ - Smart Fisherman</title>
  <!-- bootstrap grid css -->
  <link rel="stylesheet" href="/_asset/bootstrap/bootstrap-grid.min.css">
  <!-- import quark font -->
  <link rel="stylesheet" href="/_asset/font/font.css">
  <!-- custom style css -->
  <link rel="stylesheet" href="/_asset/css/style.css">
  <link rel="stylesheet" href="/_asset/css/navbar.css">
  <link rel="stylesheet" href="/_asset/css/footer.css">
  <link rel="stylesheet" href="/_asset/css/weather.css">

  <!-- js framework -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
</head>

<body>
  <!-- responsive navbar -->
  <div class="navbar">
    <div class="nav-left">
      <!-- icon area -->
      <span class="icon">
        <a href="/">Smart Fisherman</a>
      </span>
    </div>
    <div class="nav-right">
      <ul class="nav-menu">
        <!-- nav menu -->
        <li class=""><a href="/">หน้าแรก</a></li>
        <li class=""><a href="/about">ข้อมูลโครงการ</a></li>
        <li class=""><a href="/encyclopedia">สารานุกรมปลา</a></li>
        <li class="nav-selected"><a href="/weather">พยากรณ์อากาศ</a></li>
        <li class=""><a href="/market">ตลาดปลา</a></li>
        <li class=""><a href="/law">ข้อมูลกฏหมาย</a></li>
      </ul>
    </div>
  </div>

  <!-- vue app area -->
  <div id="weather">
    <!-- <option :value="{lat: 13, lng: 100}">จังหวัด</option> -->
    <!-- header -->
    <div class="header h-weather">
      <div class="container">
        <div class="header-right">
          <h1>พยากรณ์อากาศ</h1>
          <h2>สภาพอากาศและสภาพแวดล้อมสำหรับเดินเรือ</h2>
        </div>
        <div class="header-left">
          <select class="location-select" v-model="location" dir="rtl">
            <option v-for="option in loc_option" :value="option.value">
              {{ option.text }}
            </option>
          </select>
          <div class="white-border">
            <div class="b-area b-left">
              <span class="hide">วันนี้</span>
              <div class="">
                <button class="time-button selected" @click="changeForecast('present', 0)">วันนี้</button>
              </div>
            </div>
            <div class="b-area border-left">
              <span>ล่วงหน้า</span>
              <div class="">
                <button class="time-button" @click="changeForecast('future', 1)">1วัน</button>
                <button class="time-button" @click="changeForecast('future', 2)">2วัน</button>
                <button class="time-button" @click="changeForecast('future', 3)">3วัน</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- weather section -->
    <div class="weather">
      <div class="container-fluid">
        <div class="row" v-if='load.data0 && load.data1 && load.data2 && load.data3'>
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-6 card">
                <div class="lunarDate">
                  <div>
                    <span class="card-title">จันทรคติ</span>
                    <span class="card-desc">
                      {{weatherData.lunarDay.phase}}<br>{{weatherData.lunarDay.day}} ค่ำ
                    </span>
                  </div>
                  <img :src="weatherData.lunarDay.img" alt="Moon image">
                </div>
              </div>
              <div class="col-6 card">
                <div class="temperature">
                  <div>
                    <span class="card-title">อุณหภูมิ</span>
                    <span class="temp-bold">{{weatherData.temperature.temp}}°C</span>
                    <span class="temp-normal">สูงสุด <b>{{weatherData.temperature.max}}°C</b></span>
                    <span class="temp-normal">ต่ำสุด <b>{{weatherData.temperature.min}}°C</b></span>
                  </div>
                  <img src="/_asset/image/temperature.svg" alt="temperature">
                </div>
              </div>
              <div class="col-12 card">
                <div class="tideLevel">
                  <span class="card-title">ระดับน้ำขึ้น - ลง</span>
                  <line-chart :height='200'></line-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-8 card">
                <div class="windDirection">
                  <div>
                    <span class="card-title">ทิศทาง + ความเร็วลม</span>
                    <span class="wind-normal"><b>{{weatherData.windDirection.speed}}</b>กม/ชม</span>
                  </div>
                  <img src="/_asset/image/weather-arrow.svg" alt="arrow" class="wind-arrow" :style="{ transform: 'rotate(' + weatherData.windDirection.direction + 'deg)' }">
                </div>
              </div>
              <div class="col-4 card">
                <div class="windGuts">
                  <span class="card-title">ลมกระโชกแรง</span>
                  <div>
                    <span class="guts"><b>{{weatherData.windGuts}}</b> kts</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8 card">
                <div class="tideWave">
                  <div>
                    <span class="card-title">ความสูง + ทิศทางคลื่น</span>
                    <span class="wind-normal"><b>{{weatherData.waveDirection.height}}</b>เมตร</span>
                  </div>
                  <img src="/_asset/image/weather-arrow.svg" alt="arrow" class="wind-arrow" :style="{ transform: 'rotate(' + weatherData.waveDirection.direction + 'deg)' }">
                </div>
              </div>
              <div class="col-4 card">
                <div class="tideTime">
                  <span class="card-title">ระยะเวลาคลื่น</span>
                  <div>
                    <span class="guts"><b>{{weatherData.wavePeriod}}</b> วินาที</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 card">
                <div class="moonRise">
                  <span class="card-title">พระจันทร์ขึ้น - ลง</span>
                  <div class="moon-sun">
                    <img src="/_asset/image/moonrise.svg" alt="moon rise" class="icons">{{weatherData.moon.rise}}
                  </div>
                  <div class="moon-sun">
                    <img src="/_asset/image/moonset.svg" alt="moon set" class="icons">{{weatherData.moon.set}}
                  </div>
                </div>
              </div>
              <div class="col-6 card">
                <div class="sunRise">
                  <span class="card-title">พระอาทิตย์ขึ้น - ลง</span>
                  <div class="moon-sun">
                    <img src="/_asset/image/sunrise.svg" alt="sun rise" class="icons">{{weatherData.sun.rise}}
                  </div>
                  <div class="moon-sun">
                    <img src="/_asset/image/sunset.svg" alt="sun set" class="icons">{{weatherData.sun.set}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-8">
            <div class="row">
              <div class="col-3 card">
                <div class="humidity">
                  <span class="card-title">ความชื้น</span>
                  <span class="card-smallData">
                    {{weatherData.humidity}}%
                  </span>
                </div>
              </div>
              <div class="col-3 card">
                <div class="rain">
                  <span class="card-title">โอกาสฝน</span>
                  <span class="card-smallData">
                    {{weatherData.rain}}%
                  </span>
                </div>
              </div>
              <div class="col-6 card">
                <div class="airPressure">
                  <span class="card-title">ความกดอากาศ</span>
                  <span class="card-smallData">
                    {{weatherData.pressure}} hPa
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="row">
              <div class="col-6 card">
                <div>
                  <span class="card-title">หยาดน้ำฟ้า</span>
                  <span class="card-smallData">
                    {{weatherData.cloud}}"
                  </span>
                </div>
              </div>
              <div class="col-6 card">
                <div>
                  <span class="card-title">ทัศนวิสัย</span>
                  <span class="card-smallData">
                    {{weatherData.visibility}} km
                  </span>
                </div>
              </div>
              <!-- <div class="col-6 card">
                <div>
                  <span class="card-title">อุณหภูมิน้ำทะเล</span>
                  <span class="card-smallData">
                    {{weatherData.humidity}}°C
                  </span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-12 card loading">
            <img src="/_asset/image/loading.svg" alt="loading">
            <span>กำลังโหลด...</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- footer -->
  <div class="footer">
    <div class="foot-left">
      <a href="/">2018, Smart Fisherman</a>
      <a href="/">สมาร์ท ฟิชเชอร์แมน</a>
      <span>
        จากโครงการยกระดับมาตรฐาน ชาวประมงของฝั่งอันดามัน
      </span>
    </div>
    <div class="foot-right">
      <div class="foot-frame">
        <span>ดาวน์โหลดแอปพลิเคชั่น</span>
        <span class="download">
          <a href="#">
            <img class="play-download" src="/_asset/image/google-play-badge.png" alt="android download" />
          </a>
          <a href="#">
            <img class="ios-download" src="/_asset/image/app-store.svg" alt="ios download" />
          </a>
        </span>
      </div>
    </div>
  </div>

  <script src="/_asset/javascript/main.js"></script>
  <script src="/_asset/javascript/navbar.js"></script>
  <!-- <script src="javascript/weather.js"></script> -->
  <script src="/_asset/vue/weather.js"></script>
</body>